$bgcolor: #E3FFBD;
$containercolor: #F5E8FF;
$darkercontainer: rgba(198,187,207,0.5);

html body {
  background-color: $bgcolor;
}

.container {
  width: 500px;
  margin: 15px auto;
  background-color: $containercolor;
  padding: 10px;
  border-radius: 5px;
}

.post, .comment {
  padding: 5px;
  &:nth-child(odd) {
    background-color: $darkercontainer;
  }
}

textarea {
  width: 100%;
}